<div
  id="container"
  style="
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  "
>
  <div *ngIf="room" class="scoreboard">
    <p>Red: {{ room.score.red }} - Blue: {{ room.score.blue }}</p>
  </div>

  <svg
    *ngIf="config"
    [attr.width]="config.fieldWidth"
    [attr.height]="config.fieldHeight"
    id="fieldGreen"
    style="border: 3px solid black; background-color: green"
  >
    <!-- Red Goal -->
    <rect
      x="0"
      [attr.y]="config.goalMinY"
      width="10"
      [attr.height]="config.goalMaxY - config.goalMinY"
      [attr.fill]="redGoalColor"
    ></rect>

    <!-- Blue Goal -->
    <rect
      [attr.x]="config.fieldWidth - 10"
      [attr.y]="config.goalMinY"
      width="10"
      [attr.height]="config.goalMaxY - config.goalMinY"
      [attr.fill]="blueGoalColor"
    ></rect>

    <g *ngIf="room">
      <circle
        *ngFor="let p of room.players"
        [attr.cx]="p.x"
        [attr.cy]="p.y"
        [attr.r]="config.playerRadius"
        [attr.fill]="p.team"
      ></circle>
      <circle
        [attr.cx]="room.ball.x"
        [attr.cy]="room.ball.y"
        [attr.r]="config.ballRadius"
        fill="orange"
      ></circle>
    </g>
  </svg>

  <div class="controls">
    <button (click)="startGame()">Start Game</button>
    <button (click)="pickTeam(TeamType.Red)">Pick Red</button>
    <button (click)="pickTeam(TeamType.Blue)">Pick Blue</button>
  </div>
</div>
