<div class="container">
  <img ngSrc="/assets/background.jpg" alt="background" class="background" fill priority />

  <div class="menu-buttons w-50 px-3">
    @if (activeButton === 'leader') {
      <div class="row justify-content-center w-75" style="margin-left: 30%">
        <div class="col-12">
          <app-leaderboard />

          <div class="mt-3 text-center">
            <button (click)="leaderboard()" class="active">Back to Menu</button>
          </div>
        </div>
      </div>
    } @else {
      <div class="row align-items-stretch justify-content-center w-75" style="margin-left: 30%">
        <div class="col-md-6 mb-4 d-flex justify-content-center">
          <div
            class="card border-secondary w-100 h-100"
            style="max-width: 450px; background-color: rgba(0, 0, 0, 0.6)"
          >
            <div class="card-header bg-secondary text-white text-center">
              <h2 class="h4 mb-0 py-1">Game Settings</h2>
            </div>
            <div class="card-body">
              <div class="mb-4">
                <label for="username" class="form-label text-white fw-bold fs-5">Username:</label>
                <input
                  type="text"
                  class="form-control form-control-lg text-white border-secondary shadow-none placeholder-white"
                  style="background-color: rgba(255, 255, 255, 0.15)"
                  id="username"
                  [(ngModel)]="username"
                  placeholder="Enter username"
                />
              </div>
              <div class="mb-3">
                <label for="roomId" class="form-label text-white fw-bold fs-5">Room ID:</label>
                <input
                  type="number"
                  class="form-control form-control-lg text-white border-secondary shadow-none placeholder-white"
                  style="background-color: rgba(255, 255, 255, 0.15)"
                  id="roomId"
                  [(ngModel)]="roomId"
                  placeholder="Enter Room ID"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-4 d-flex justify-content-center">
          <div
            class="card border-secondary w-100 h-100"
            style="max-width: 450px; background-color: rgba(0, 0, 0, 0.6)"
          >
            <div
              class="card-body d-flex flex-column justify-content-center align-items-center gap-1"
            >
              <button (click)="singleplayer()" [class.active]="activeButton === 'single'">
                Singleplayer
              </button>
              <button (click)="multiplayer()" [class.active]="activeButton === 'multi'">
                Create Room
              </button>
              <button (click)="joinGame()" [class.active]="activeButton === 'join'">
                Join Game
              </button>
              <button (click)="leaderboard()" [class.active]="activeButton === 'leader'">
                Leaderboard
              </button>
              <button (click)="quit()" [class.active]="activeButton === 'quit'">Quit</button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
